@import "vars";

.header {
  display: flex;
  flex-direction: column;

  &-topbar {
    margin: 42px 30px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h1{
      padding-left: 30px;
    }
    &-buttons {
      display: flex;
      flex-direction: row;
      gap: 32px;

      a {
        display: flex;
        align-items: center;
        gap: 8px;
        //color: $black;
        font-size: 16px;
        line-height: 24px;

        p {
          font-size: 16px;
          line-height: 24px;
          letter-spacing: -0.2px;
          font-weight: 500;
        }
      }
    }

    &-nav {
      margin: 8px 50px 0 38px;
      display: flex;
      flex-direction: row;
      //max-width: 1064px;
      flex-wrap: wrap;
      gap: 8px;

      a {
        //width: 233px;
        padding: 8px 10px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #7E7E82;
      }

      a:active {
        border: 2px solid #B8FFEC;
        background: $white;
        border-radius: 3.2px;
      }
    }

    &-nav-slider {
      margin: 24px 0 0 20px;
      display: none;
      flex-direction: row;
      //max-width: 1064px;
      flex-wrap: wrap;
      gap: 8px;
      overflow: hidden;
      a {
        padding-left: 5px;
        padding-right: 5px;
        display: flex;
        height: 40px;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #7E7E82;
        border-radius: 6px;
      }

      a:active {
        border: 2px solid #B8FFEC;
        background: $white;
        border-radius: 6px;
      }
    }
  }

  &-content {
    display: flex;
    flex-direction: row;
    margin: 16px 28px 0 34px;
    gap: 36px;

    &-info {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
      display: flex;
      flex-direction: column;
      gap: 15px;

      //вариант с заданной шириной блока, для резайза img
      width: 490px;

      &-paras {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-height: 160px;
        overflow: hidden;

        span {
          font-weight: 500;
        }
      }

      &-btn {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 132px;
        max-height: 24px;
        border: none;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        font-weight: 500;
        span{
          padding-left: 8px;
          padding-bottom: 6px;
        }
        :hover {
          cursor: pointer;
        }
        &-img{
          display: flex;
          flex-direction: column;
        }
      }
    }
    &-image{
      display: inline-flex;

      img{
       width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
  }
  .active{
    border-left: 5px solid $border-color;
    border-radius: 4px;
  }

  &-menu-media{
    //display: flex;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    background: $white;
    height: 88px;
    .rightside{
      display: flex;
      gap: 20px;
      align-items: center;
    }
    .leftside{
      display: flex;
      gap: 20px;
    }
    button{
      background: white;
    }

   &-burger{
     padding-left: 24px;
     img{
       height: 40px;
       width: 40px;
     }
   }

    &-logo{
      display: flex;
      align-items: center;

    }
    &-links{
      display: flex;
      gap:16px;
      align-items: center;
      :hover{
        cursor: pointer;
      }
    }

    &-buttons {
      display: flex;
      flex-direction: row;
      gap: 16px;
      align-items: center;

    }

    .divider{
      height: 32px;
      width: 2px;
      margin-right: 20px;
    }
  }

  //end of header
}



@media (max-width: 1050px) {
  .header-menu-media{
    display: flex;
  }

  .header-topbar-buttons{
    display: none;
  }
  .header-content-image{
    //margin-left: 50px;
    img{
      max-width: 360px;
      height: auto;
      object-fit: contain;
    }
  }
}

@media(max-width: 890px) {
  .header {
    &-topbar {
      h1 {
        padding-left: 9px;
      }

      &-nav {
        display: none;
      }

      &-nav-slider {
        max-width: 720px;
        display: flex;
      }
    }
  }
}


@media (max-width: 620px) {
  .header-menu-media{
    justify-content: start;
    gap: 10px;
    .divider{
      margin-right: 3px;
    }
    .leftside{
      gap: 0;
    }
    .rightside{
      gap: 3px;
    }
    &-links{
      gap: 2px;
    }
    &-buttons{
      gap: 3px;
    }
  }
  .header-content-info{
    width: 142px;
  }
}


@media (max-width: 500px) {
  .header-menu-media {
    &-burger {
      padding-left: 16px;
    }

    &-logo {
      margin-left: 16px;

      .divider {
        display: none;
      }
    }

    &-links {
      display: none;
    }

    &-buttons {
      gap: 16px;
    }
  }
  .header {
    &-topbar {
      h1 {
        padding-left: 9px;
      }

      &-nav {
        display: none;
      }
      &-nav-slider{
        display: flex;
      }
    }

    &-content {
      flex-direction: column;
      margin: 16px 0 0 16px;
      max-width: 320px;

      &-info-paras {
        width: 275px;
      }

      &-image {
        margin-left: -16px !important;
        max-width: 320px;
        //overflow: unset;
        img {
          max-width: 300px;
          height: auto;
          object-fit: contain;
        }
      }
    }

  }
}



