@import "mixins";
@import "fonts";
@import "vendor";
@import "vars";
@import "settings";
@import "sidebar";
@import "header";
@import "modal-callback.scss";
@import "modal-book-call";

h2 {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  font-weight: 400;
  color: $menu-text-color;
  background: $background-h2;
  padding: 16px 0;
  border-radius: 5px;
}


.wrapper-body {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 1430px;

}




.main-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1120px;
  background: $background-main;

}


.repairs {
  margin: 52px 0 32px 32px;

  &-wrapper-brands {
    max-width: 1100px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    padding: 0 16px;

    &-cards {
      margin-top: 24px;
      display: grid;

      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 16px;
      grid-row-gap: 16px;
      max-height: 160px;
      overflow: hidden;
      margin-bottom: 20px;

      .card {

        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 240px;
        height: 72px;
        background-color: $white;
        padding: 0 16px;
        box-sizing: border-box;
        border-radius: 6px;

        .go:hover {
          cursor: pointer;
        }
      }
    }

    &-cards-slider {
      margin-top: 24px;
      display: none;


      .brands{
        top:904px;
        --swiper-pagination-bullet-width: 12px;
        --swiper-pagination-bullet-height: 12px;
      }
      max-height: 160px;
      overflow: hidden;
      margin-bottom: 20px;
    .swiper-wrapper{
      //overflow: hidden;
      .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 240px;
        height: 72px;
        background-color: $white;
        padding: 0 16px;
        box-sizing: border-box;
        border-radius: 6px;

        .go:hover {
          cursor: pointer;
        }
      }
    }
    }


    &-btn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 132px;
      max-height: 24px;
      border: none;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      font-weight: 500;
      span{
        padding-left: 8px;
        padding-bottom: 6px;
      }
      :hover {
        cursor: pointer;
      }
    }
  }

  &-wrapper-technical {
    margin-top: 50px;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    padding: 0 16px;

    &-cards {
      margin-top: 24px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 32px;
      grid-row-gap: 22px;
      max-height: 160px;
      overflow: hidden;
      margin-bottom: 20px;

      .card-tech {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        width: 240px;
        height: 160px;
        background-color: $white;
        padding: 16px 16px;
        box-sizing: border-box;
        border-radius: 6px;

        .go {
          align-self: end;
        }

        .go:hover {
          cursor: pointer;
        }

      }
    }

    &-cards-slider {
      margin-top: 24px;
      display: none;
      //width: 240px;
      max-height: 160px;
      overflow: hidden;
      margin-bottom: 20px;
      .technical{
        top:1240px;
        padding-right: 40px;
        --swiper-pagination-bullet-width: 12px;
        --swiper-pagination-bullet-height: 12px;
      }
      .swiper-wrapper{
      .swiper-slide {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        width: 240px;
        height: 160px;
        background-color: $white;
        padding: 16px 16px;
        box-sizing: border-box;
        border-radius: 6px;

        .go {
          align-self: end;
        }

        .go:hover {
          cursor: pointer;
        }

      }
      }
    }

    .btn-show {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 132px;
      max-height: 24px;
      border: none;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      font-weight: 500;
      span{
        padding-left: 8px;
        padding-bottom: 6px;
      }
      :hover {
        cursor: pointer;
      }
    }
  }
}


.services {
  margin: 65px 0 32px 32px;
  h2{
    padding-left: 22px;
    margin-right: 18px;
  }
  .services-table {

    margin: 30px 48px 0 36px;
    display: grid;

    grid-template-columns: 3fr 1.6fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-left: 10px;
    font-size: 14px;
    line-height: 16px;
    color:$menu-text-color;
  }
  &-wrapper-cards {
    margin: 30px 48px 0 16px;
    background: $background;
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding: 0 24px;


    .card-services {
      display: grid;
      grid-template-columns: 5fr 2.6fr 2fr 1fr;
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      align-items: center;
      height: 72px;
      padding: 0 2px;
      box-sizing: border-box;
      border-radius: 6px;
      background: none;
      border-bottom: 2px solid $soft-gray;

      div{
        display: flex;
        //display: inline-flex;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;

      }
      button{
        //display: flex;
        display: inline-flex;
        flex-grow: 0;
        //элемент по ширине
        flex-direction: row;
        align-items: center;
        border-radius: 16px;
        padding: 4px 8px;
        gap: 8px;
        color: $white;
        font-size: 12px;
        line-height: 24px;
        letter-spacing: -0.15px;
        text-transform: uppercase;
        background: $background-buttons;
        border: none;
        //ширина на весь контент
        width: max-content;
      &:hover {
        cursor: pointer;
      }
      }
    }

  }

  &-wrapper-cards-slider {
    margin: 30px 0 0 0;
    //background: $background;
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding: 0 0 0 8px ;
     overflow: hidden;
    width: 320px;
    .services{
      top:1540px;
      padding-right: 40px;
      --swiper-pagination-bullet-width: 11px;
      --swiper-pagination-bullet-height: 11px;
    }
    .swiper-wrapper{

      .swiper-slide {
      display: flex;
        flex-direction: column;
        gap: 16px;

      //align-items: center;
        width: 260px;
        height:200px;
      padding: 0 2px;
      box-sizing: border-box;
      border-radius: 6px;
      background: none;
      border-bottom: 2px solid $soft-gray;
        background: $background;
      p{
        color:$menu-text-color;
        font-size: 14px;
        line-height: 16px;
        opacity: 0.85;
      }
      div{
        display: flex;
        //display: inline-flex;
        margin-left: 16px;
        gap: 4px;
        flex-direction: column;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;

      }
        div:first-child{
          padding-top: 16px;
        }
      button{
        //display: flex;
        display: inline-flex;
        height: 32px;
        //width: 119px;
        position: absolute;
        top: 154px;
        left: 126px;
        flex-grow: 0;
        //элемент по ширине
        flex-direction: row;
        align-items: center;
        border-radius: 16px;
        padding: 4px 10px;
        gap: 14px;
        color: $white;
        font-size: 12px;
        line-height: 24px;
        letter-spacing: -0.15px;
        text-transform: uppercase;
        background: $background-buttons;
        border: none;
        //ширина на весь контент
        width: max-content;
        &:hover {
          cursor: pointer;
        }
      }
    }
    }
  }

  &-info{
display: flex;
    flex-direction: column;
    max-width: 420px;
    margin: 32px 16px;
    gap: 16px;
    p{
      font-size: 14px;
      line-height: 20px;
      /* or 143% */

      letter-spacing: 0.2px;
    }
    span{
      font-weight: 500;
    }
}
}

.footer{
  background: $background-main;
display: flex;
  flex-direction: row;
  justify-content: space-between;
  &-wrapper{
  //background: #6d6d6d;
    padding: 22px;
    font-size: 14px;
    line-height: 16px;
    color:$menu-text-color;
}
}

@media(max-width: 1366px){
  .repairs {
    margin: 52px 0 0 0;}

}

@media(max-width: 1280px){

    .repairs-wrapper-brands-cards {
      margin-top: 24px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 16px;
      grid-row-gap: 16px;
      max-height: 160px;
      overflow: hidden;
      margin-bottom: 20px;
    }

  .repairs-wrapper-technical-cards {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 22px;
    max-height: 160px;
    overflow: hidden;
    margin-bottom: 20px;
  }



}

@media(max-width: 1050px){
  .repairs-wrapper-brands-cards {
    grid-column-gap: 0;
    .card {
      width:220px
    }
  }

  .repairs-wrapper-technical-cards {
    grid-column-gap: 8px;

    .card-tech{
      width: 220px
    }
  }

}

@media(max-width: 890px) {
  .wrapper-body{
    //max-width: 720px;
  }

}

@media(max-width: 740px){
  .services {
    margin: 65px 0 0 0;
    &-wrapper-cards{
      padding: 0 0;
      .card-services{
        grid-template-columns: 0.4fr 0.3fr 0.2fr 0.6fr;
      }
    }
  }
  .repairs-wrapper-brands-cards {
    grid-column-gap: 0;
    grid-template-columns: repeat(2, 1fr);
    .card {
      width:220px
    }
  }

  .repairs-wrapper-technical-cards {
    grid-column-gap: 8px;
    grid-template-columns: repeat(2, 1fr);
    .card-tech{
      width: 220px
    }
  }

}



@media (max-width: 500px) {
  .repairs-wrapper-technical-cards{
    display: none;
  }
  .repairs-wrapper-technical-cards-slider{
    display: flex;
  }
  .technical-btn{
    display:none !important; ;
  }
  .wrapper-body{
    max-width: 320px;
  }
  .main-wrapper{
    max-width: 320px;
  }
  .footer{
    flex-direction: column;
    margin-bottom: 20px;
    //align-items: center;
    &-wrapper{
      text-align: center;
      padding: 20px 0 0 0;
      max-width: 310px;

    }
  }


  .services {
    .services-table {
      display: none;
    }
    &-wrapper-cards{
      display: none;
    }
    &-info{
      max-width: 280px;
    }
  }


  .repairs-wrapper-brands-cards{
    display: none;
  }
  .repairs-wrapper-brands-cards-slider{
    display: block;
  }
  .repairs-wrapper-brands-btn{
    display: none;
  }
}