@import "vars";

.side-bar {
  background:$white;
  display: flex;
  flex-direction: column;
  width: 308px;
  z-index: 5;
  .burger-close{
    display: none;
  }
  img{background: $white}
  button{background: $white}
  &-head{
    margin: 30px 28px 0 22px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
  }
  &-nav{
    display: flex;
    flex-direction: column;
    margin-top: 36px;
    //padding-left: 24px;
    gap: 28px;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    letter-spacing: -0.2px;
    a{
      padding-left: 24px;
      font-weight: 500;

    }
    .active{
      color: $menu-text-color;
      border-left: 4px solid $border-color;
      border-radius: 3.2px;
      //padding-left: 5px;
    }
  }
  &-links{
    display: flex;
    margin: 240px 0 0 18px;
    gap:16px;
    :hover{
    cursor: pointer;
    }
  }
  &-contacts{
    font-weight: 600;
    margin: 16px 0 0 19px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    :first-child{
      font-size: 16px;
      line-height: 24px;
      /* or 150% */

      letter-spacing: -0.2px;
    }
    :last-child{
      font-size: 24px;
      line-height: 32px;
      /* or 133% */
      letter-spacing: -0.6px;
    }
  }
  &-languages{
    margin: 16px 0 0 21px;
    display: flex;
    flex-direction: row;
    gap: 7px;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    letter-spacing: -0.2px;
    .active-lang{
      color:$menu-text-color
    }
    button:hover{
      cursor: pointer;
    }
  }
}


@media(max-width: 1050px){
  .side-bar{
    position: absolute;
    display: none;
    width: 360px;
    height: 100vh;
    border-right: 40px solid;
    border-image: linear-gradient(to right, rgba(128, 128, 128, 0.14), $background-main ) 1 100%;
    border-radius: 30px;
    .burger-close{
      display: flex;
    }
    &-head{
      margin: 30px 24px 0 24px;
      .burger-close img{
        width: 40px;
        height: 40px;

      }
    }
    &-links {
      display: flex;
      margin: 190px 0 0 18px;
      //margin: 100px 0 50px 18px;
      gap: 16px;
    }
  }
}
@media(max-width: 500px){
  .side-bar{
    width: 360px;
    border: none;
  }
}

@media(max-width: 330px){
  .side-bar{
    width: 320px;
  }
}
@media(max-height: 800px){
  .side-bar-nav {
    margin-top: 26px;
    gap: 20px;

  }
  .side-bar-links{
    margin: 40px 0 0 18px;
  }
}


